body {
  /* background-color: #6b994e; */
  background-image: url('./images/rift.jpg');
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: white;
}

#board {
  /* display: flex; */
}

.instructions {
  font-size: 1.5rem;
}

.row{
  display: flex;
  justify-content: center;
  width: 100%;
}

.tile {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  text-align: center;
  padding: 1rem;
background: #654C3B;
}
.unexplored:hover {
  cursor: pointer;
  box-shadow: inset 5px 5px 10px #574132,
              inset -5px -5px 10px #6d5240;
}

.revealed {
  background-color: red;
  /* border-radius: 50px; */
  background: #db434f;
  box-shadow: inset 5px 5px 10px #ba3943,
              inset -5px -5px 10px #fc4d5b;
}
.trap {
  background-color: purple;
}
.shroom {
  background-image: url('./images/shroom.png');
  background-position: center;
  background-size: cover;
  height: 100%;
}
.ping {
  background-image: url('./images/ping.png');
  background-position: center;
  background-size: cover;
  height: 100%;
}
.end-modal {
  position: absolute;
  /* width: 100px; */
  height: 35%;
  width: 50%;
  background-color: rgba(128, 128, 128, 0.486);
  border: 5px ridge white;
  left: 25vw;
  top:  25%;
  transition: all .5s ease-in-out;
}

.play-again {
  padding: 2rem;
  border: 1px solid black;
  width: 50%;
  margin: auto;
  background-color: black;
  transition: all .25s ease-in-out;
}
.play-again:hover {
  cursor: pointer;
  background-color: #79C179;
  transition: all .25s ease-in-out;
}

.intro-teemo {
  width: 20rem;
}
.sad-lee {
  width: 10rem;
}
